*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    /* overflow-x: hidden; */
}

/* Header */
.nav-container-header{
    width: 100%;
    z-index: 3;
    /* background-color: #07395f51; */
    position: fixed;
    
}

.div-container-header{
    margin-inline: 130px;
    /* border-bottom: 0.5px solid wheat; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-logo{
    padding: 10px;
    /* border: 1px solid red; */
}
#nav-logo img{
    /* border: 1px solid red; */
    width: 60px;

}
#nav-list{
    display: flex;
    /* visibility: hidden; */
    /* border: 1px solid red; */
}
#nav-list li{
    /* border: 1px solid yellow; */
    padding-block: 30px;
    list-style-type: none;
    padding-inline: 30px;
}
#nav-list li a{
    text-decoration: none;
    color: yellow;
    font-weight: 600;
    font-size: large;
    
}
#nav-list li:hover{
    text-decoration: underline white;
    text-underline-offset: 10px;
    
}
.burger-btn{
    visibility: hidden;
    color: red;
    background-color: transparent;
    border: none;
    /* border: 1px solid red; */
    position: absolute;
    right: 140px;
    /* margin-right: 0; */
    /* padding-inline: 180px; */
    cursor: pointer;
}
.burger-line{
    color: whitesmoke;
    width: 30px;
    height: 2px;
    display: block;
    background-color: yellow;
    margin: 8px 5px;
    transition: all 0.3s;
}
.burger-line:nth-child(1){
    transform-origin: top left;
}
.burger-line:nth-child(3){
    background-color: red;
    transform-origin: bottom left;
}
.hamburger-active > span:nth-child(1){
    transform: rotate(45deg);
}
.hamburger-active > span:nth-child(2){
    transform: scale(0);
}
.hamburger-active > span:nth-child(3){
    transform: rotate(-45deg);
    /* background-color: red; */
}
/* Halaman 1 */
.halaman1{
    height: 100vh;
    background-color: #07395f;
    background-image: url(/assets/img/produk/foto3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.halaman1::before{
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.teks-halaman1{
    filter: brightness(100%);
    color: #e2e8f0;
    position: relative;
    margin-inline: 130px;
    z-index: 3;
    top: 200px;
    /* padding: 250px 180px 0; */
    /* border: 1px solid yellow; */
}
.isi-teks-hal1{
    /* border: 1px solid red; */
    width: 50%;
    padding: 20px;
}
.isi-teks-hal1 h1{
    margin-bottom: 40px;
}
.isi-teks-hal1 a{
    padding: 0.6rem 1rem;
    font-weight: 600;
    margin-top: 2rem;
    color: whitesmoke;
    background-color: #07395f;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}
/* Halaman 2 */
.halaman2{
    height: 100vh;
    background-color: #f7ecd8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ac9292' fill-opacity='0.10'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /* border: 2px solid red; */
    padding-inline: 180px;
    color: navy;
    padding-block: 100px;
}
.container-hal2{
    /* border: 1px solid red; */
    /* margin-inline: 180px; */
    display: flex;
}
.teks-tentang h4{
    font-weight: 500;
}
.teks-tentang h1{
    margin-bottom: 15px;
}
#article{
    font-weight: 400;
    font-size: large;
}
.link-tentang{
    color: #e2e8f0;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    /* border: 1px solid navy; */
}
.link-tentang a{
    padding: 0.6rem 1rem;
    font-weight: 600;
    margin-top: 2rem;
    color: whitesmoke;
    background-color: #07395f;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}
#asside{
    /* border: 1px solid navy; */
    padding: 20px;
    width: 50%;
}
.gambar-asside{
    /* border: 1px solid red; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.gambar-asside img{
    width: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    /* border: 1px solid blueviolet; */
}
/* Halaman 3 */
.container3{
    height: 100vh;
    background-color: #135D66;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2377b0aa' fill-opacity='0.1'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding-inline: 180px;
    padding-top: 100px;
    color: whitesmoke;
    /* border: 1px solid whitesmoke; */
}
.container3-div{
    /* border: 1px solid red; */
    display: flex;
    /* height: 400px; */
}
.container3-teks{
    /* border: 1px solid yellow; */
    width: 50%;
    padding-inline: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
}
.container3-gambar{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container3-gambar img{
    object-fit: cover;
    object-position: center;
    width: 150px;
    height: 130px;
    transition: all 0.4s;
}
.container3-gambar img:hover{
    filter: brightness(50%);
}
.container3-teks a{
    padding: 0.6rem 1rem;
    font-weight: 600;
    margin-top: 1rem;
    color: whitesmoke;
    background-color: #07395f;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}
.container3-teks a:hover{
    /* box-shadow: 2px 4px 10px yellow; */
    background-color: #154c75;
    /* outline: 2px solid yellow; */
}
/* Halaman 4 */
.halaman4{
    height: 100vh;
    background-color: #f7ecd8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ac9292' fill-opacity='0.10'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /* border: 2px solid red; */
    color: navy;
    padding-inline: 180px;
    padding-block: 60px;
}
.isi-container4{
    /* border: 1px solid navy; */
    padding-inline: 20px;
    padding-bottom: 30px;
}
.isi-container4 h1{
    margin-bottom: 40px;
    /* border: 1px solid red; */
    text-align: center;
}
.article-container4{
    display: flex;
    gap: 20px;
    justify-content: center;
    /* border: 1px solid red; */
}
.card{
    /* border: 1px solid navy; */
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    background-color: rgb(211, 212, 212);
}
.teks-card{
    /* border: 1px solid red; */
    padding: 20px;
}
.card img{
    /* border: 1px solid greenyellow; */
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}
.card p{
    /* padding: 10px 20px; */
    font-weight: 400;
    /* border: 1px solid red; */
    margin-bottom: 30px;
}
.card a{
    color: whitesmoke;
    /* border: 1px solid red; */
    text-decoration: none;
    padding: 5px 20px;
    background-color: #003C43;
    border-radius: 20px;
    transition: all 0.2s;
}
.card a:hover{
    background-color: #135D66;
}

/* Footer */
.footer{
    height: 40vh;
    background-color: #f7ecd8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ac9292' fill-opacity='0.10'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /* border: 1px solid red; */
}
.container-footer{
    /* border: 1px solid red; */
    background-color: #003C43;
    height: 40vh;
    border-radius: 100px 100px 0 0;
    padding: 70px 130px 0;
}
.isi-footer{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-evenly;
}
/* kiri */
.logo-kiri{
    /* border: 1px solid whitesmoke; */
    width: 25%;
}
.logo-kiri p{
    color: whitesmoke;
    /* font-family: 'open-sans'; */
}
/* Tengah */
.contact-tengah{
    /* border: 1px solid red; */
    width: 25%;
    /* padding: 10px; */
    
}
.contact-tengah ul li,.navigat-kanan ul li{
    /* list-style-position: outside; */
    list-style-type: none;
}
.contact-tengah ul li a,.navigat-kanan ul li a{
    color: whitesmoke;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
/* Hover */
.contact-tengah ul li a:hover,.navigat-kanan ul li a:hover{
    color: #EECB2F;
}
.contact-tengah h3,.navigat-kanan h3{
    /* border: 1px solid whitesmoke; */
    margin-bottom: 20px;
    color: whitesmoke;
}
/* Kanan */
.navigat-kanan{
    /* border: 1px solid yellow; */
    width: 25%;
}
.logo-kiri,.contact-tengah,.navigat-kanan{
    padding: 10px;
}
.footer #copyright{
    /* border: 1px solid red; */
    text-align: center;
    color: whitesmoke;
    padding: 10px;
    background-color: #003C43;
    font-size: smaller;
    font-weight: 100;
}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: #EECB2F;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background: #07395f;
}

/* Kelas untuk border-bottom */
.border-header{
    border-bottom: 0.5px solid greenyellow; /* Atur sesuai kebutuhan*/
}

/* Kelas untuk background color */
.bg-header {
    background-color: #003C43; /* Atur sesuai kebutuhan */
    transition: background-color 0.3s ease; /* Animasi transisi */
}
.navbar-fixed{
    background-color: #07395f;
    border-bottom: none;
    color: navy;
 }

/* max 412 */
@media screen and (max-width: 412px) {
    /* Header */
    .div-container-header{
        margin-inline: 20px;
        /* border: 1px solid yellow; */
    }

    .hidden{
        /* dibuat hanya untuk hidden visibility */
        visibility: hidden;
    }
    #nav-list{
        display: block;
        position: absolute;
        border: 1px solid yellow;
        /* background-color: #07395f; */
        right: 40px;
        top: 70px;
    }
    #nav-list li{
        /* border: 1px solid yellow; */
        padding-block: 10px;
        padding-inline: 30px;
        /* visibility: hidden; */
    }
    #nav-list li a{
        /* border: 1px solid whitesmoke; */
        font-size: medium;

    }
    #nav-logo{
        padding: 5px;
        /* margin-left: 30px; */
    }
    #nav-logo img{
        width: 50px;
    }
    .burger-btn{
        visibility: visible;
        /* border: 1px solid red; */
        display: block;
        /* margin-right: 0; */
        right: 20px;
    }
    /* Halaman 1 */
    .halaman1{
        /* border: 2px solid red; */
        height: 100vh;
    }
    .teks-halaman1{
        margin-inline: 40px;
        /* border: 1px solid red; */
        top: 200px;
        /* padding: 10px; */
    }
    .isi-teks-hal1{
        /* border: 1px solid navy; */
        width: 100%;
        padding: 0;
        
    }
    /* halaman 2 */
    .halaman2{
        /* border: 2px solid red; */
        /* display: flex; */
        flex-wrap: wrap;
        padding-inline: 40px;
        /* padding-block: 50px; */
        height: 150vh;
    }
    .container-hal2{
        /* border: 1px solid rgb(255, 63, 63); */
        flex-wrap: wrap;
    }
    .teks-tentang{
        width: 100%;
        /* border: 1px solid navy; */
        order: 2;
        margin-top: 30px;
    }
    #asside{
        width: 100%;
        padding: 0;
        /* border: 1px solid red; */
    }
    .gambar-asside{
        /* border: 1px solid navy; */
        margin-top: 0;
        overflow: hidden;
        width: 100%;
    }
    .gambar-asside img{
        width: 100%;
        height: 300px;/
    }
    .link-tentang{
        /* border: 1px solid red; */
        margin-top: 60px;
    }
    .link-tentang a{
        margin-top: 0;
    }
    /* halaman 3 */
    .halaman3{
        padding-inline: 40px;
        padding-top: 130px;
        height: 110vh;
    }
    .container3-div{
        /* border: 1px solid red; */
        flex-wrap: wrap
    }
    .container3-teks{
        /* border: 1px solid navajowhite; */
        padding: 0;
        width: 100%;
        font-size: smaller;
        order: 2;
        margin-top: 30px;
    }
    .container3-teks h2{
        /* border: 1px solid red; */
        font-size: 18px;
    }
    .container3-gambar{
        /* border: 1px solid yellow; */
        width: 100%;
    }
    .container3-gambar img{
        width: 100px;
        height: 100px;
        /* border: 1px solid red; */
    }
    /* Halaman 4 */
    .halaman4{
        padding-inline: 40px;
        height: 210vh;
        padding-block: 20px;
        /* border: 3px solid navy; */
    }
    .isi-container4{
        /* border: 1px solid navy; */
        padding-inline: 0;
    }
    .article-container4{
        flex-wrap: wrap;
        /* border: 1px solid red; */
    }
    .card{
        /* border: 1px solid red; */
        width: 100%;
    }
    /* footer */
    .footer{
        /* border: 1px solid red; */
        height: 85vh;
    }
    .container-footer{
        /* border: 3px solid blueviolet; */
        border-radius: 40px 40px 0 0;
        height: 100%;
        padding: 20px;
    }
    .isi-footer{
        /* border: 1px solid red; */
        flex-wrap: wrap;
    }
    .logo-kiri{
        /* border: 1px solid yellow; */
        width: 100%;
    }
    .contact-tengah{
        /* border: 1px solid navy; */
        width: 100%;
    }
    .navigat-kanan{
        width: 100%;
    }
    /* #copyright{
        border: 1px solid yellow;
    } */
}
/* min 412 (masih sama sampai size 600px) */ 
@media screen and (min-width: 412px) {
    /* Header */
    .div-container-header{
        margin-inline: 20px;
        /* border: 1px solid yellow; */
    }

    .hidden{
        /* dibuat hanya untuk hidden visibility */
        visibility: hidden;
    }
    #nav-list{
        display: block;
        position: absolute;
        /* border: 1px solid yellow; */
        /* background-color: #07395f; */
        right: 40px;
        top: 70px;
    }
    #nav-list li{
        /* border: 1px solid yellow; */
        padding-block: 10px;
        padding-inline: 30px;
    }
    #nav-list li a{
        /* border: 1px solid whitesmoke; */
        font-size: medium;
    }
    #nav-logo{
        padding: 5px;
        /* margin-left: 30px; */
    }
    #nav-logo img{
        width: 50px;
    }
    .burger-btn{
        visibility: visible;
        /* border: 1px solid red; */
        display: block;
        /* margin-right: 0; */
        right: 20px;
    }
    /* Halaman 1 */
    .halaman1{
        /* border: 2px solid red; */
        height: 100vh;
    }
    .teks-halaman1{
        margin-inline: 40px;
        /* border: 1px solid red; */
        top: 200px;
        /* padding: 10px; */
    }
    .isi-teks-hal1{
        /* border: 1px solid navy; */
        width: 100%;
        padding: 0;
        
    }
    /* halaman 2 */
    .halaman2{
        /* border: 2px solid red; */
        /* display: flex; */
        flex-wrap: wrap;
        padding-inline: 40px;
        /* padding-block: 50px; */
        height: 150vh;
    }
    .container-hal2{
        /* border: 1px solid rgb(255, 63, 63); */
        flex-wrap: wrap;
    }
    .teks-tentang{
        width: 100%;
        /* border: 1px solid navy; */
        order: 2;
        margin-top: 30px;
    }
    #asside{
        width: 100%;
        padding: 0;
        /* border: 1px solid red; */
    }
    .gambar-asside{
        /* border: 1px solid navy; */
        margin-top: 0;
        overflow: hidden;
        width: 100%;
    }
    .gambar-asside img{
        width: 100%;
        height: 300px;/
    }
    .link-tentang{
        /* border: 1px solid red; */
        margin-top: 60px;
    }
    .link-tentang a{
        margin-top: 0;
    }
    /* halaman 3 */
    .halaman3{
        padding-inline: 40px;
        padding-top: 130px;
        height: 110vh;
    }
    .container3-div{
        /* border: 1px solid red; */
        flex-wrap: wrap
    }
    .container3-teks{
        /* border: 1px solid navajowhite; */
        padding: 0;
        width: 100%;
        font-size: smaller;
        order: 2;
        margin-top: 30px;
    }
    .container3-teks h2{
        /* border: 1px solid red; */
        font-size: 18px;
    }
    .container3-gambar{
        /* border: 1px solid yellow; */
        width: 100%;
    }
    .container3-gambar img{
        width: 100px;
        height: 100px;
        /* border: 1px solid red; */
    }
    /* Halaman 4 */
    .halaman4{
        padding-inline: 40px;
        height: 210vh;
        padding-block: 20px;
        /* border: 3px solid navy; */
    }
    .isi-container4{
        /* border: 1px solid navy; */
        padding-inline: 0;
    }
    .article-container4{
        flex-wrap: wrap;
        /* border: 1px solid red; */
    }
    .card{
        /* border: 1px solid red; */
        width: 100%;
    }
    /* footer */
    .footer{
        /* border: 1px solid red; */
        height: 85vh;
    }
    .container-footer{
        /* border: 3px solid blueviolet; */
        border-radius: 40px 40px 0 0;
        height: 100%;
        padding: 20px;
    }
    .isi-footer{
        /* border: 1px solid red; */
        flex-wrap: wrap;
    }
    .logo-kiri{
        /* border: 1px solid yellow; */
        width: 100%;
    }
    .contact-tengah{
        /* border: 1px solid navy; */
        width: 100%;
    }
    .navigat-kanan{
        width: 100%;
    }
    /* #copyright{
        border: 1px solid yellow;
    } */
}
/* min 600px */
@media screen and (min-width:600px) {
    /* Header */
    .div-container-header{
        margin-inline: 40px;
        /* border: 1px solid yellow; */
    }
    /* list navabar */
    .hidden{
        /* dibuat hanya untuk hidden visibility */
        visibility: visible;
    }
    #nav-list{
        display: flex;
        position: inherit;
        /* border: 1px solid yellow; */
        /* background-color: #07395f; */
        /* right: 40px;
        top: 100px; */
    }
    #nav-list li{
        /* border: 1px solid yellow; */
        padding-block: 10px;
        padding-inline: 10px;
    }
    #nav-list li a{
        /* border: 1px solid whitesmoke; */
        font-size: medium;
    }
    #nav-logo{
        padding: 5px;
        /* margin-left: 30px; */
    }
    #nav-logo img{
        width: 50px;
    }
    .burger-btn{
        visibility: hidden;
        /* border: 1px solid red; */
        display: block;
        /* margin-right: 0; */
        right: 20px;
    }
    /* Halaman 1 */
    .halaman1{
        /* border: 2px solid red; */
        height: 100vh;
    }
    .teks-halaman1{
        margin-inline: 40px;
        /* border: 1px solid red; */
        top: 200px;
        /* padding: 10px; */
    }
    .isi-teks-hal1{
        /* border: 1px solid navy; */
        width: 500px;
        padding: 0;
        
    }
    /* halaman 2 */
    .halaman2{
        /* border: 2px solid red; */
        /* display: flex; */
        flex-wrap: wrap;
        padding-inline: 40px;
        /* padding-block: 50px; */
        height: 150vh;
    }
    .container-hal2{
        /* border: 1px solid rgb(255, 63, 63); */
        flex-wrap: wrap;
    }
    .teks-tentang{
        width: 100%;
        /* border: 1px solid navy; */
        order: 2;
        margin-top: 30px;
    }
    #asside{
        width: 100%;
        padding: 0;
        /* border: 1px solid red; */
    }
    .gambar-asside{
        /* border: 1px solid navy; */
        margin-top: 0;
        overflow: hidden;
        width: 100%;
    }
    .gambar-asside img{
        width: 100%;
        height: 300px;/
    }
    .link-tentang{
        /* border: 1px solid red; */
        margin-top: 60px;
    }
    .link-tentang a{
        margin-top: 0;
    }
    /* halaman 3 */
    .halaman3{
        padding-inline: 40px;
        padding-top: 130px;
        height: 110vh;
    }
    .container3-div{
        /* border: 1px solid red; */
        flex-wrap: wrap
    }
    .container3-teks{
        /* border: 1px solid navajowhite; */
        padding: 0;
        width: 100%;
        font-size: smaller;
        order: 2;
        margin-top: 30px;
    }
    .container3-teks h2{
        /* border: 1px solid red; */
        font-size: 18px;
    }
    .container3-gambar{
        /* border: 1px solid yellow; */
        width: 100%;
    }
    .container3-gambar img{
        width: 140px;
        height: 100px;
        /* border: 1px solid red; */
    }
    /* Halaman 4 */
    .halaman4{
        padding-inline: 40px;
        height: 210vh;
        padding-block: 20px;
        /* border: 3px solid navy; */
    }
    .isi-container4{
        /* border: 1px solid navy; */
        padding-inline: 0;
    }
    .article-container4{
        flex-wrap: wrap;
        /* border: 1px solid red; */
    }
    .card{
        /* border: 1px solid red; */
        width: 80%;
    }
    /* footer */
    .footer{
        /* border: 1px solid red; */
        height: 85vh;
    }
    .container-footer{
        /* border: 3px solid blueviolet; */
        border-radius: 40px 40px 0 0;
        height: 100%;
        padding: 20px;
    }
    .isi-footer{
        /* border: 1px solid red; */
        flex-wrap: wrap;
    }
    .logo-kiri{
        /* border: 1px solid yellow; */
        width: 100%;
    }
    .contact-tengah{
        /* border: 1px solid navy; */
        width: 100%;
    }
    .navigat-kanan{
        width: 100%;
    }
    /* #copyright{
        border: 1px solid yellow;
    } */
}
/* min 768px */
@media screen and (min-width:768px) {
    /* Header */
    .div-container-header{
        margin-inline: 70px;
        /* border: 1px solid yellow; */
    }
    #nav-logo{
        padding: 5px;
        /* border: 1px solid yellow; */
        /* margin-left: 30px; */
    }
    #nav-logo img{
        width: 45px;
        /* border: 1px solid yellow; */
    }
    /* Halaman 1 */
        /* Halaman 1 */
    .halaman1{
        /* border: 2px solid red; */
        height: 100vh;
    }
    .teks-halaman1{
        margin-inline: 80px;
        /* border: 1px solid red; */
        top: 250px;
        /* padding: 10px; */
    }
    .isi-teks-hal1{
        /* border: 1px solid yellow; */
        width: 500px;
        padding: 0;
        
    }

    /* halaman 2 */
    .halaman2{
        /* border: 2px solid red; */
        /* display: flex; */
        padding-inline: 40px;
        /* padding-block: 50px; */
        height: 120vh;
    }
    .container-hal2{
        /* border: 1px solid rgb(255, 63, 63); */
        flex-wrap: nowrap;
        justify-content: space-around;
        /* margin-top: 0px; */
    }
    .teks-tentang{
        width: 40%;
        /* border: 1px solid red; */
        order: 1;
        margin-top: 30px;
    }
    #asside{
        order: 2;
        width: 40%;
        padding: 0;
        margin-top: 30px;
        /* border: 1px solid red; */
    }
    .gambar-asside{
        /* border: 1px solid navy; */
        margin-top: 30%;
        overflow: hidden;
        width: 100%;
    }
    .gambar-asside img{
        width: 100%;
        height: 300px;/
    }
    .link-tentang{
        /* border: 1px solid red; */
        margin-top: 60px;
    }
    .link-tentang a{
        margin-top: 0;
    }
        /* halaman 3 */
    .halaman3{
        padding-inline: 0px;
        padding-top: 130px;
        height: 80vh;
    }
    .container3-div{
        /* border: 1px solid red; */
        flex-wrap: nowrap;
        margin-inline: 60px;
    }
    .container3-teks{
        /* border: 1px solid navajowhite; */
        padding: 0;
        width: 50%;
        font-size: smaller;
        /* order: 2; */
        margin-top: 30px;
    }
    .container3-teks h2{
        /* border: 1px solid red; */
        font-size: 18px;
    }
    .container3-gambar{
        order: 2;
        /* border: 1px solid yellow; */
        width: 50%;
    }
    .container3-gambar img{
        width: 100px;
        height: 70px;
        /* border: 1px solid red; */
    }
    /* Halaman 4 */
    .halaman4{
        padding-inline: 40px;
        height: 150vh;
        padding-block: 20px;
        /* border: 3px solid navy; */
    }
    .isi-container4{
        /* border: 1px solid navy; */
        padding-inline: 0;
    }
    .article-container4{
        flex-wrap: wrap;
        /* border: 1px solid red; */
    }
    .card{
        /* border: 1px solid red; */
        width: 300px;
    }
    /* footer */
    .footer{
        height: 40vh;
    }
    /* .container-footer{
        border: 1px solid navy;
    } */
    .isi-footer{
        /* border: 1px solid red; */
        flex-wrap: nowrap;
    }
    .logo-kiri{
        /* border: 1px solid yellow; */
        width: 30%;
    }
    .contact-tengah{
        /* border: 1px solid red; */
        width: 30%;
    }
    .navigat-kanan{
        /* border: 1px solid #e2e8f0; */
        width: 30%;
    }
    
}
/* min 992px */
@media screen and (min-width:992px){
    .div-container-header{
        /* border: 1px solid yellow; */
        margin-inline: 90px;
    }
    #nav-list li{
        /* border: 1px solid yellow; */
        padding-block: 20px;
        padding-inline: 20px;
    }
    #nav-logo{
        padding: 5px;
        /* margin-left: 30px; */
    }
    #nav-logo img{
        width: 50px;
    }
    /* Halaman 1 */
    .halaman1{
        /* border: 2px solid red; */
        height: 100vh;
    }
    .teks-halaman1{
        margin-inline: 100px;
        /* border: 1px solid red; */
        top: 250px;
        /* padding: 10px; */
    }
    .isi-teks-hal1{
        /* border: 1px solid yellow; */
        width: 550px;
        padding: 0;
        
    }
    /* halaman 2 */
    .halaman2{
        /* border: 2px solid red; */
        /* display: flex; */
        padding-inline: 60px;
        /* padding-block: 50px; */
        height: 120vh;
    }
    .container-hal2{
        /* border: 1px solid rgb(255, 63, 63); */
        flex-wrap: nowrap;
        justify-content: space-around;
        /* margin-top: 0px; */
    }
    .teks-tentang{
        width: 40%;
        /* border: 1px solid red; */
        order: 1;
        margin-top: 30px;
    }
    #asside{
        order: 2;
        width: 40%;
        padding: 0;
        margin-top: 30px;
        /* border: 1px solid red; */
    }
    .gambar-asside{
        /* border: 1px solid navy; */
        margin-top: 0;
        overflow: hidden;
        width: 100%;
    }
    .gambar-asside img{
        width: 100%;
        height: 300px;/
    }
    .link-tentang{
        /* border: 1px solid red; */
        margin-top: 60px;
    }
    .link-tentang a{
        margin-top: 0;
    }
        /* halaman 3 */
    .halaman3{
        padding-inline: 0px;
        padding-top: 130px;
        height: 80vh;
    }
    .container3-div{
        /* border: 1px solid red; */
        flex-wrap: nowrap;
        margin-inline: 100px;
    }
    .container3-teks{
        /* border: 1px solid navajowhite; */
        padding: 0;
        width: 50%;
        font-size: smaller;
        /* order: 2; */
        margin-top: 30px;
    }
    .container3-teks h2{
        /* border: 1px solid red; */
        font-size: 18px;
    }
    .container3-gambar{
        order: 2;
        /* border: 1px solid yellow; */
        width: 50%;
    }
    .container3-gambar img{
        width: 100px;
        height: 70px;
        /* border: 1px solid red; */
    }
    /* Halaman 4 */
    .halaman4{
        padding-inline: 40px;
        height: 100vh;
        padding-block: 40px;
        /* border: 3px solid navy; */
    }
    .article-container4{
        flex-wrap: wrap;
        /* border: 1px solid red; */
    }
    .card{
        /* border: 1px solid red; */
        width: 250px;
    }
    /* footer */
    .footer{
        height: 40vh;
    }
    /* .container-footer{
        border: 1px solid navy;
    } */
    .isi-footer{
        /* border: 1px solid red; */
        flex-wrap: nowrap;
    }
    .logo-kiri{
        /* border: 1px solid yellow; */
        width: 30%;
    }
    .contact-tengah{
        /* border: 1px solid red; */
        width: 30%;
    }
    .navigat-kanan{
        /* border: 1px solid #e2e8f0; */
        width: 30%;
    }
    
}
/* min 1200px */
@media screen and (min-width:1200px){
    .div-container-header{
        /* border: 1px solid yellow; */
        margin-inline: 130px;
    }
    #nav-logo{
        padding: 10px;
        /* border: 1px solid yellow; */
        /* margin-left: 30px; */
    }
    #nav-logo img{
        width: 60px;
    }
    #nav-list li{
        /* border: 1px solid yellow; */
        padding-block: 30px;
        padding-inline: 30px;
    }
    #nav-list li a{
        font-size: large;
    }

    /* Halaman 1 */
    .halaman1{
        /* border: 2px solid red; */
        height: 100vh;
    }
    .teks-halaman1{
        margin-inline: 130px;
        /* border: 1px solid red; */
        top: 250px;
        /* padding: 10px; */
    }
    .isi-teks-hal1{
        /* border: 1px solid yellow; */
        width: 50%;
        padding: 20px;
        
    }
    /* halaman 2 */
    .halaman2{
        /* border: 2px solid red; */
        /* display: flex; */
        padding-inline: 150px;
        padding-block: 100px;
        height: 120vh;
    }
    .container-hal2{
        /* border: 1px solid rgb(255, 63, 63); */
        flex-wrap: nowrap;
        /* justify-content: space-around; */
        /* margin-top: 0px; */
    }
    .teks-tentang{
        width: 50%;
        /* border: 1px solid red; */
        order: 1;
        margin-top: 30px;
    }
    #asside{
        order: 2;
        width: 50%;
        padding: 0;
        margin-top: 30px;
        /* border: 1px solid red; */
    }
    .gambar-asside{
        /* border: 1px solid navy; */
        margin-top: 0;
        overflow: hidden;
        /* width: 100%; */
    }
    .gambar-asside img{
        width: 400px;
    }
    .link-tentang{
        /* border: 1px solid red; */
        margin-top: 60px;
    }
    .link-tentang a{
        margin-top: 0;
    }
        /* halaman 3 */
    .halaman3{
        padding-inline: 0px;
        padding-top: 130px;
        height: 100vh;
    }
    .container3-div{
        /* border: 1px solid red; */
        flex-wrap: nowrap;
        margin-inline: 150px;
    }
    .container3-teks{
        /* border: 1px solid navajowhite; */
        /* padding-inline: 20px; */
        width: 50%;
        font-size: smaller;
        /* order: 2; */
        margin-top: 0;
    }
    .container3-teks h2{
        /* border: 1px solid red; */
        font-size: 18px;
    }
    .container3-gambar{
        order: 2;
        /* border: 1px solid yellow; */
        width: 50%;
    }
    .container3-gambar img{
        width: 150px;
        height: 130px;
        /* border: 1px solid red; */
    }
    /* Halaman 4 */
    .halaman4{
        padding-inline: 150px;
        height: 100vh;
        padding-block: 60px;
        /* border: 3px solid navy; */
    }
    .article-container4{
        flex-wrap: nowrap;
        /* border: 1px solid red; */
    }
    .card{
        /* border: 1px solid red; */
        width: 300px;
    }
    /* footer */
    .footer{
        height: 40vh;
    }
    /* .container-footer{
        border: 1px solid navy;
    } */
    .isi-footer{
        /* border: 1px solid red; */
        flex-wrap: nowrap;
    }
    .logo-kiri{
        /* border: 1px solid yellow; */
        width: 30%;
    }
    .contact-tengah{
        /* border: 1px solid red; */
        width: 30%;
    }
    .navigat-kanan{
        /* border: 1px solid #e2e8f0; */
        width: 30%;
    }
}
/* min 1500px */
@media screen and (min-width:1500px) {
    .div-container-header{
        /* border: 1px solid yellow; */
        margin-inline: 150px;
    }
    #nav-list li{
        /* border: 1px solid yellow; */
        padding-block: 30px;
        padding-inline: 30px;
    }
    #nav-list li a{
        font-size: larger;
        font-weight: 600px;
    }

    /* Halaman 1 */
    .halaman1{
        /* border: 2px solid red; */
        height: 100vh;
    }
    .teks-halaman1{
        margin-inline: 150px;
        /* border: 1px solid red; */
        top: 250px;
        /* padding: 10px; */
    }
    .isi-teks-hal1{
        /* border: 1px solid yellow; */
        width: 50%;
        padding: 10px;
        
    }
    .isi-teks-hal1 p{
        font-size: 20px;
        line-height: 1.5;
        /* border: 1px solid yellow; */
    }
    .isi-teks-hal1 a{
        /* border: 1px solid yellow; */
        margin-top: 70px;
    }
    /* halaman 2 */
    .halaman2{
        /* border: 2px solid red; */
        /* display: flex; */
        padding-inline: 150px;
        padding-top: 100px;
        height: 100vh;
    }
    .container-hal2{
        /* border: 1px solid rgb(255, 63, 63); */
        flex-wrap: nowrap;
        padding: 10px;
        /* justify-content: space-around; */
        margin-top: 0;
    }
    .teks-tentang{
        width: 50%;
        /* border: 1px solid red; */
        order: 1;
        margin-top: 30px;
    }
    #article{
        font-size: larger;
        font-weight: 500;
    }
    #asside{
        order: 2;
        width: 50%;
        padding: 0;
        margin-top: 30px;
        /* border: 1px solid red; */
    }
    .gambar-asside{
        /* border: 1px solid navy; */
        margin-top: 0;
        overflow: hidden;
        /* width: 100%; */
    }
    .gambar-asside img{
        width: 400px;
    }
    .link-tentang{
        /* border: 1px solid red; */
        margin-top: 60px;
    }
    .link-tentang a{
        margin-top: 0;
    }
        /* halaman 3 */
    .halaman3{
        padding-inline: 0px;
        padding-top: 150px;
        height: 100vh;
    }
    .container3-div{
        /* border: 1px solid red; */
        padding: 10px;
        flex-wrap: nowrap;
        margin-inline: 150px;
        margin-top: 0;
    }
    .container3-teks{
        /* border: 1px solid navajowhite; */
        padding-inline: 10px;
        width: 50%;
        /* order: 2; */
        margin-top: 0;
    }
    .container3-teks h2{
        /* border: 1px solid red; */
        font-size: 30px;
    }
    .container3 a{
        margin-top: 50px;
    }
    .container3-gambar{
        order: 2;
        /* border: 1px solid red; */
        width: 50%;
    }
    .container3-gambar img{
        width: 150px;
        height: 130px;
        /* border: 1px solid red; */
    }
    /* Halaman 4 */
    .halaman4{
        padding-inline: 150px;
        height: 90vh;
        padding-block: 100px;
        /* border: 3px solid navy; */
    }
    .article-container4{
        flex-wrap: nowrap;
        /* border: 1px solid red; */
    }
    .card{
        /* border: 1px solid red; */
        width: 350px;
    }
    /* footer */
    .footer{
        height: 40vh;
    }
    /* .container-footer{
        border: 1px solid navy;
    } */
    .isi-footer{
        /* border: 1px solid red; */
        flex-wrap: nowrap;
    }
    .logo-kiri{
        /* border: 1px solid yellow; */
        width: 30%;
    }
    .contact-tengah{
        /* border: 1px solid red; */
        width: 30%;
    }
    .navigat-kanan{
        /* border: 1px solid #e2e8f0; */
        width: 30%;
    }
}